body{
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}
.container {
	margin-top: 2%;
	width: 80%;
}
.btn{
	text-align: left;
	width: 300px;
	margin-bottom: 20px;
}

quote {
	font-style: italic;
}


#mapperWrapper {
	border: solid #2e6da4 1px;
	border-radius: 5px;
}

#imageWrapper {
	max-width:500px;
	margin-left: auto;
	margin-right: auto;
}