<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        
        <title>OuG5 Grundlagen der VWL</title>
    </head>
    <body>

	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<!-- header -->
					<h2>Arbeitsteilung</h2>
				</div>
				<div class="panel-body">
					<!-- definition -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Arbeitsteilung</h3>
								</div>
								<div class="panel-body">
									<quote>Substantiv, feminin - Verteilung einer Arbeit, Aufgabe auf verschiedene Personen [und Gebiete], Tiere, [Teile von] Organismen</quote>
									<a href="http://www.duden.de/rechtschreibung/arbeitsteilung" target="_blank">[Quelle: Duden.de]</a>
								</div>
							</div>
						</div>
					</div>
					<!-- content -->
					<div class="row">
						<div class="col-md-12">
							<div class="well">
								<div class="panel-body">
									<p>Aus volkswirtschaftlicher Sicht bedeutet diese <strong>Arbeitsteilung</strong>, dass jeder Mensch sich auf eine <strong>Tätigkeit</strong> spezialisiert,
										für die er oder sie entsprechende <strong>Fähigkeiten</strong> mitbringt. </p>
									<a href="http://www.rechnungswesen-verstehen.de/vwl/arbeitsteilung.php" target="_blank">[Quelle: rechnungswesen-verstehen.de]</a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Arten der Arbeitsteilung</h3>
								</div>
								<div class="panel-body">
									<p>Grundsätzlich unterscheidet man verschiedene Arten der Arbeitsteilung voneinander. Es gibt schließlich verschiedene
										Auslöser und Ursachen, die teilweise zwangsweise zu einer Arbeitsteilung führen, weil beispielsweise klimatische
										Unterschiede eine Produktion hierzulande nicht zulassen würden.
									</p>
									<br>
									<table class="table table-bordered">
										<tbody>
										<tr>
											<td rowspan="2" align="center">
												<strong>Personale Arbeitsteilung </strong>
											</td>
											<td colspan="2" align="center">
												<strong>Betriebliche Arbeitsteilung</strong>
											</td>
											<td rowspan="2" align="center">
												<strong>Territoriale Arbeitsteilung</strong>
											</td>
										</tr>
										<tr>
											<td align="center">
												<strong><em>innerbetrieblich</em></strong>
											</td>
											<td align="center">
												<strong><em>zwischenbetrieblich</em></strong>
											</td>
										</tr>
										<tr>
											<td>
												<ul>
													<li>
														Berufsbildung
													</li>
													<li>
														Berufsspaltung
													</li>
													<li>
														Arbeitszerlegung
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li>
														Produktionsteilung
													</li>
													<li>
														Funktionsteilung
														<ul>
															<li>
																Beschaffung
															</li>
															<li>
																Lagerung
															</li>
															<li>
																Produktion
															</li>
															<li>
																Verwaltung
															</li>
															<li>
																Absatz
															</li>
														</ul>
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li>
														vertikal
														<ul>
															<li>
																primärer Sektor
															</li>
															<li>
																sekundärer Sektor
															</li>
															<li>
																tertiärer Sektor
															</li>
														</ul>
													</li>
													<li>
														horizontal (nach Material- oder Branchenaspekt)
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li>
														regional
													</li>
													<li>
														international
													</li>
												</ul>
											</td>
										</tr>
										</tbody>
									</table>
									<a href="http://www.pussep.de/vwl_grundlagen.html#VWL_ARBEITSTEILUNG" target="_blank">[Quelle: pussep.de]</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Personale Arbeitsteilung</h3>
								</div>
								<div class="panel-body">
									<p>Die wohl sinnvollste Art der Arbeitsteilung ist die personale Arbeitsteilung. Hierbei handelt es sich um die jeweilige <strong>Spezialisierung in einem Beruf</strong>.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Betriebliche Arbeitsteilung </h3>
								</div>
								<div class="panel-body">
									<p>Eine ebenfalls alltägliche Arbeitsteilung ist die <strong>innerbetriebliche</strong> Teilung der Arbeit. So ist die <strong>Produktion von Gütern in der Regel in mehrere
										Arbeitsschritte gegliedert</strong>. Jeder Mitarbeiter bringt sich am Endprodukt mit seinen Stärken und Fähigkeiten ein. Auch hier wird also die Arbeit geteilt.
										Die Teilung der Arbeit erfolgt hier in spezielle <strong>betriebliche Funktionen wie zum Beispiel Beschaffung, Fertigung, Absatz oder Personal</strong>.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title">Betriebliche Arbeitsteilung </h3>
								</div>
								<div class="panel-body">
									<p>Eine andere Form ist die <strong>regionale</strong> oder <strong>internationale Arbeitsteilung</strong>. Die Ursachen für eine Arbeitsteilung zwischen zwei oder mehreren verschiedenen
										Ländern können zum Beispiel im Rohstoffvorkommen oder an dem Klima sein. Aber auch Arbeitskosten können hier eine wichtige Rolle spielen.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Vorteile </h3>
								</div>
								<div class="panel-body">
									<ul>
										<li>Übernahme spezialisierter Teiltätigkeiten, die den Interessen des Einzelnen entsprechen</li>
										<li>Entlastung es Menschen von schwerer körperlicher Arbeit durch den Einsatz von Maschinen</li>
										<li>Verbesserung der Produktivität (= Arbeitsergebnis:Faktoreinsatzmenge)</li>
										<li>Verbesserung der Qualität durch hohe Produktspezialisierung</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Nachteile </h3>
								</div>
								<div class="panel-body">
									<ul>
										<li>einseitige, monotone Arbeit</li>
										<li>einseitige Belastung des Menschen (Gefahr der Erkrankung)</li>
										<li>Gefahr der Entfremdung (Ganzheitlichkeit der Fertigung geht verloren)</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- back home -->
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '../startseite.html';">zur&uuml;ck zur Startseite</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    		<!-- footer -->
        <footer>
          &copy; Andreas Neeven, Daniel Lentz, Ferdi Kaya & Florian Petruschke
        </footer>

        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>