<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet">
		<style>
			body{
				background-color: #fff; 
				background-image: 
				linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
				linear-gradient(#eee .1em, transparent .1em);
				background-size: 100% 1.2em;
			}
			.container {
				margin-top: 2%;
				width: 80%;
			}
			.btn{
				text-align: left;
				width: 300px;
				margin-bottom: 20px;
			}
			quote {
				font-style: italic;
			}
			#mapperWrapper {
				border: solid #2e6da4 1px;
				border-radius: 5px;
			}
			#imageWrapper {
				max-width:500px;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
        
        <title>OuG5 Grundlagen der VWL</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
						<!-- header -->
						<h2>Bed&uuml;rfnisse</h2>
                    </div>
                    <div class="panel-body">
						<!-- definition -->
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Bedürfnis</h3>
									</div>
									<div class="panel-body">
										<quote>
											<ol>
												<li>Wunsch, Verlangen nach etwas; Gefühl, jemandes, einer Sache zu bedürfen, jemanden, etwas nötig zu haben</li>
												<li>[materielle] Lebensnotwendigkeit; etwas, was jemand [unbedingt] zum Leben braucht</li>
											</ol>
										</quote>
										<a href="http://www.duden.de/rechtschreibung/Beduerfnis" target="_blank">[Quelle: Duden.de]</a>
									</div>
								</div>
							</div>
						</div>
						<!-- content -->
						<div class="row">
							<div class="col-md-4">
								<div class="well">
									<quote>
										Bedürfnisse entstehen aus dem Gefühl des Mangels und dem gleichzeitigen Wunsch, diesen zu beseitigen. [...]<br>
										Die Wünsche der Menschen nach Kleidung, Nahrung und Wohnung sind die Basis des wirtschaftlichen Handelns.
									</quote><br>
									<a href="http://www.rechnungswesen-verstehen.de/bwl-vwl/bwl/beduerfnis-bedarf-nachfrage.php" target="_blank">[Quelle: rechnungswesen-verstehen.de]</a>
								</div>
							</div>
							<div class="col-md-8">
								<div class="well">
									<p>
										Die <strong>Maslowsche Bedürfnispyramide</strong> ist ein Modell, welches in der VWL häufig verwendet wird um menschliche Bedürfnisse nach Dringlichkeit einzuordnen und voneinander abzugrenzen.
										Als <strong>"Defizitbedürfnisse"</strong> werden demnach körperliche Grundbedürfnisse, Sicherheit und soziale Beziehungen angesehen.
										Dies sind Grundbedürfnisse um überleben und die eigene Existenz sichern zu können.
										Soziale Wertschätzung und Selbstverwirklichung (im Rahmen der individuellen Möglichkeiten) werden dem Modell zufolge als <strong>"Wachstumsbedürfnisse"</strong> bezeichnet.
									</p>
									<a href="http://www.rechnungswesen-verstehen.de/bwl-vwl/bwl/beduerfnis-bedarf-nachfrage.php" target="_blank">[Quelle: rechnungswesen-verstehen.de]</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="well">
									<!--<div id="maslowPyramid" style="width: 100%;"  w3-include-HTML="../templates/maslowPyramid.html"></div>-->
									<div class="row">
										<div class="col-md-4">
											<div style="margin: auto; width: 50%;">
												<img src="../img/pyramid.png" alt="Maslow Pyramide" usemap="#Map" id="pyramidMap" />
												<map name="Map" id="Map">
													<area name="ebene1" alt="ebene1" title="ebene1" href="#" shape="poly" coords="3.5999908447265625,77.39999389648437,39.59999084472656,112.60000610351562,110.79998779296875,89.79998779296875,116.79998779296875,93.39999389648437,124.39999389648437,116.60000610351562,19.599990844726562,137.39999389648437,0.8000030517578125,85.39999389648437,1.1999969482421875,80.60000610351562" />
													<area name="ebene2" alt="ebene2" title="ebene2" href="#" shape="poly" coords="10.399993896484375,66.60000610351562,15.199996948242187,64.60000610351562,57.19999694824219,83.79998779296875,96.79998779296875,64.60000610351562,101.60000610351562,66.19998168945312,113.19998168945312,87,41.59999084472656,110.60000610351562,4,75.39999389648437" />
													<area name="ebene3" alt="ebene3" title="ebene3" href="#" shape="poly" coords="26.79998779296875,48.600006103515625,31.199996948242187,46.199981689453125,65.59999084472656,53.79998779296875,80.39999389648437,43.399993896484375,86,43.399993896484375,98.79998779296875,61,58,80.60000610351562,14.399993896484375,62.199981689453125" />
													<area name="ebene4" alt="ebene4" title="ebene4" href="#" shape="poly" coords="43.59999084472656,27.399993896484375,46.399993896484375,23,64.79998779296875,25.399993896484375,66.39999389648437,22.199981689453125,69.60000610351562,22.600006103515625,82.79998779296875,37.79998779296875,65.19999694824219,50.199981689453125,30,43.399993896484375" />
													<area name="ebene5" alt="ebene5" title="ebene5" href="#" shape="poly" coords="56.399993896484375,1.399993896484375,45.59999084472656,21.399993896484375,62.399993896484375,22.600006103515625,67.60000610351562,17.399993896484375" />
												</map>
											</div>
										</div>
										<div class="col-md-8">
											<h2>Maslowsche Bedürfnispyramide</h2>
											<div id="notify">
												<div role="alert" class="alert alert-success">
													<strong>Hinweis:</strong> Klicke auf eine Ebene der Pyramide, um Details zu lesen.
												</div>
											</div>
											<div class="panel panel-default" id="detailsArea">
												<div class="panel-heading">
													<h3 class="panel-title" id="areaSelection"></h3>
												</div>
												<div class="panel-body">
													<p id="areaContent"></p>
													<a href="http://www.wirtschaftslexikon24.com/d/beduerfnispyramide-nach-maslow/beduerfnispyramide-nach-maslow.htm" target="_blank">[Quelle: wirtschaftslexikon24.com]</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- back home -->
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '../startseite.html';">zur&uuml;ck zur Startseite</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
                </div>
            </div>
        </div>
		<!-- footer -->
		<div style="position: fixed; width:100%; bottom: 0; background-color: darkgrey; color: white; text-align: right; line-height: normal;">
			<p>&copy; Andreas Neeven, Daniel Lentz, Ferdi Kaya, Florian Petruschke</p>
		</div>

        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
		<script src="../js/imageMapster.js"></script>
		<script src="../js/w3-include-HTML.js"></script>
		<script>
			$('#detailsArea').hide();
		
			var areaName = {
				'ebene1': "<b>1.</b> Pyhsiologische Bedürfnisse (Defizitbedürfnis)",
				'ebene2': "<b>2.</b> Sicherheitsbedürfnisse (Defizitbedürfnis)",
				'ebene3': "<b>3.</b> soziale Bedürfnisse (Defizitbedürfnis)",
				'ebene4': "<b>4.</b> Individualbedürfnisse (Wachstumsbedürfnis)",
				'ebene5': "<b>5.</b> Selbstverwirklichung (Wachstumsbedürfnis)"
			};
			
			var areaContent = {
				'ebene1': "<quote>Grundbedürfnisse des Organismus nach Sauerstoff, Nahrung, Getränken, Ruhe, Schlaf, Sexualität</quote>",
				'ebene2': "<quote>Sicherheit vor physischer Existenzbedrohung, Arbeitsplatz ohne hohes Verletzungsrisiko, Gesundheit, gesicherter Arbeitsplatz, sicheres Einkommen, Sparverhalten, Altersversorgung, stabile Umwelt</quote>",
				'ebene3': "<quote>Wunsch nach Gruppenzugehörigkeit und Geselligkeit, nach Freundschaft und Zuneigung sowie nach gutem Arbeitsklima</quote>",
				'ebene4': "<quote>Streben nach Selbstachtung oder Selbstwertschätzung, Anerkennung durch andere, hohes soziales Ansehen, Macht, Prestige, Lob und Anerkennung für geleistete Arbeit</quote>",
				'ebene5': "<quote>Streben nach Erfüllung eines Selbstkonzeptes, Kreativität, Verwirklichung der eigenen Möglichkeiten, Einbringen eigener Vorstellungen und Verbesserungen am Arbeitsplatz</quote>",
			};

			var defaultDipTooltip = '';
			var image = $('#pyramidMap');
			// ImageMapster
			image.mapster({
				fillColor: '3388cc',
				fillOpacity: 0.5,
				stroke: true,
				strokeColor: "000",
				strokeOpacity: 1.0,
				strokeWidth: 2,
				singleSelect: true,
				selected: false,
				mapKey: 'alt',
				listKey: 'alt',
				tooltip: true,
				onClick: function (e) {
					var newToolTip = defaultDipTooltip;
					// update text depending on area selected
					$('#areaSelection').html(areaName[e.key]);
					$('#areaContent').html(areaContent[e.key]);
					$('#notify').replaceWith($('#detailsArea')).show();
					$('#detailsArea').show();
				},
				showToolTip: true,
				toolTipClose: ["tooltip-click", "area-click"],
				areas: [
					{key: "ebene1"},
					{key: "ebene2"},
					{key: "ebene3"},
					{key: "ebene4"},
					{key: "ebene5"}
				]
			}).mapster('set', true, 'ebene1,ebene2,ebene3,ebene4,ebene5');

		</script>
    </body>
</html>