<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        
        <title>OuG5 Grundlagen der VWL</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
						<!-- header -->
						<h2>Kooperation und Konzentration</h2>
                    </div>
                    <div class="panel-body">
						<div class="panel-body">
						<!-- definition -->
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Kooperation</h3>
									</div>
									<div class="panel-body">
									    <quote>Zusammenarbeit, besonders auf politischem oder wirtschaftlichem Gebiet</quote>
										<a href="http://www.duden.de/rechtschreibung/Kooperation" target="_blank">[Quelle: duden.de]</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Konzentration</h3>
									</div>
									<div class="panel-body">
									    <quote>(von Kräften, Mächten besonders politischer oder wirtschaftlicher Art) Vereinigung, Zusammenstellung, Verdichtung an einer Stelle, in einer Hand o. Ä.</quote>
										<a href="http://www.duden.de/rechtschreibung/Konzentration" target="_blank">[Quelle: duden.de]</a>
									</div>
								</div>
							</div>
						</div>
						<!-- content -->
						<div class="row">
							<div class="col-md-4">
								<div class="well">CONTENT</div>
							</div>
							<div class="col-md-4">
								<div class="well">CONTENT</div>
							</div>
							<div class="col-md-4">
								<div class="alert alert-success" role="alert"><strong>Info</strong> zus&auml;tzlicher Info-Kram</div>
							</div>
						</div>
						<!-- back home -->
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '../startseite.html';">zur&uuml;ck zur Startseite</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
                </div>
            </div>
        </div>
    		<!-- footer -->
        <footer>
          &copy; Andreas Neeven, Daniel Lentz, Ferdi Kaya & Florian Petruschke
        </footer>

        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>