<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        
        <title>OuG5 Grundlagen der VWL</title>
    </head>
    <body>

	<div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<!-- header -->
					<h2>Kooperation und Konzentration</h2>
				</div>
				<div class="panel-body">
					<div class="panel-body">
						<!-- definition -->
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Kooperation</h3>
									</div>
									<div class="panel-body">
										<quote>Zusammenarbeit, besonders auf politischem oder wirtschaftlichem Gebiet</quote>
										<a href="http://www.duden.de/rechtschreibung/Kooperation" target="_blank">[Quelle: duden.de]</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Konzentration</h3>
									</div>
									<div class="panel-body">
										<quote>(von Kräften, Mächten besonders politischer oder wirtschaftlicher Art) Vereinigung, Zusammenstellung, Verdichtung an einer Stelle, in einer Hand o. Ä.</quote>
										<a href="http://www.duden.de/rechtschreibung/Konzentration" target="_blank">[Quelle: duden.de]</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title">Unternehmenszusammenschlüsse</h3>
									</div>
									<div class="panel-body">
										<p>
											Unternehmen schließen sich zusammen um wirtschaftlichen Vorteil zu erlangen.</br>
										<p>Kooperation bedeutet hierbei ein Zusammenschluss von Unternehmen, bei dem die Partner ihre rechtliche und wirtschaftliche Selbstständigkeit nicht verlieren.</p>
										<p>Ein Unternehmenszusammenschluss durch Konzentration bewirkt den Verlust der wirtschaftlichen Selbstständigkeit.</br>
											Beispiel Konzern: Unternehmen rechtlich selbstständig, witschaftlich nicht</br>
											Beispiel Fusion: Unternehmen weder rechtlich noch wirtschaftlich selbstständig</p>
										</p>
										<a href="http://wirtschaftslexikon.gabler.de/Archiv/7992/kooperation-v11.html" target="_blank">[Quelle: wirtschaftslexikon.gabler.de]</a>
										<a href="http://wirtschaftslexikon.gabler.de/Archiv/2669/unternehmenskonzentration-v11.html" target="_blank">[Quelle: wirtschaftslexikon.gabler.de]</a>
										<a href="http://www.rechnungswesen-verstehen.de/bwl-vwl/vwl/unternehmenszusammenschluesse.php" target="_blank">[Quelle: rechnungswesen-verstehen.de]</a>
									</div>
								</div>
							</div>

						</div>

						<!-- content -->
						<div class="row">
							<div class="col-md-6">
								<div class="well">

									<p>Kooperation: Zusammenarbeit von unabhängigen Unternehmen zur steigerung der Wettbewerbsfähigkeit</br>
										9 Intensitätsstufen:
									<ol>
										<li>Informationsaustausch</li>
										<li>Erfahrungsaustausch </li>
										<li>Absprachen</li>
										<li>Gemeinschaftsarbeiten ohne Ausgliederung von Unternehmensfunktionen</li>
										<li>Gemeinschaftsarbeiten mit Ausgliederung von Unternehmensfunktionen</li>
										<li>Gütergemeinschaft</li>
										<li>Bildung eines Kooperationsmanagements</li>
										<li>Gemeinschaftsgründung</li>
										<li>rechtliche Ausgliederung des Kooperationsmanagements</li>
									</ol>
									</p>
									<p>
										Unterscheidung Formen:
									<ol>
										<li>beteiligte Wirtschaftsstufen:</br>
											horizontale Kooperation Anbieter gleichartiger Güter
											vertikale Kooperation z.B. zwischen Industrie und Handel</li>
										<li>durchgeführte Funktionen:</br>
											gesamtfunktionelle Kooperation Beschaffung Produktion Absatz und Finanzierung
											Teilfunktionelle/sektorale Kooperation zusammenarbeit einzelne Funktionen</li>
										<li>Marktgebiete:</br>
											Inlandsmärkten
											Auslandsmärkten</li>
										<li>beabsichtigte Dauer:</br>
											Auftrags-Kooperation
											kurz,mittel,langfristige Kooperation</li>
									</ol>
									</p>
									<p>
										Kartellrechtliche Beurteilung</br>
										Mit Kooperationen können vielfältige Probleme verbunden sein.
										Manche Kooperationen führen zu einer spürbaren Wettbewerbsbelebung andere beeinflussen das Marktergebnis negativ.
										Aufgrund von Vielfalt der Intensität und Formen müssen Kooperationsteilnehmer prüfen ob gegen gesetzliche Bestimmung verstoßen wird oder bitten die Kartellbehörde um eine Entscheidung.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="well">
									<p>Konzentraion: Zusammenschluss von Unternehmen mit Verlust der wirtschaftlichen Selbstständigkeit von Beteiligten</p>
									<p>
										Formen:
									<ol>
										<li>Art des Wachstums:</br>
											intern
											extern</li>
										<li>Richtung/Produktionsstufe:</br>
											horizontal vereinigung auf gleicher Produktionsstufe (Marktbeherschung)
											vertikal Vereinigung von unternehmen aufeinanderfolgender Produktionsstufen (Bsp:Vereinigung von Rohstoffgewinnung produktion und Handel)
											diagonalVerinigung von Unternehmen deren Produkte nichts miteinander zu tun haben</li>
										<li>Wirtschaftsraum:</br>
											regional (Kohle,Stahl,Werften)
											national
											international (multinationale Unternehmen, strategische Allianzen, Globalisierung)</li>
									</ol>

									<img src="../img/konzentration.png" style="width:100%">
									</p>
								</div>
							</div>
						</div>
						<!-- back home -->
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '../startseite.html';">zur&uuml;ck zur Startseite</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    		<!-- footer -->
        <footer>
          &copy; Andreas Neeven, Daniel Lentz, Ferdi Kaya & Florian Petruschke
        </footer>

        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>