<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        
        <title>OuG5 Grundlagen der VWL</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
						<!-- header -->
						<h2>&ouml;konomisches Prinzip</h2>
                    </div>
                    <div class="panel-body">
						<!-- definition -->
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-info">
									<div class="panel-body">
									 <quote>
                      Ökonomisches Prinzip; Grundsatz, dass ein bestimmter Erfolg mit dem geringstmöglichen Mitteleinsatz (Minimalprinzip) bzw. mit einem bestimmten Mitteleinsatz der größtmögliche Erfolg (Maximalprinzip) erzielt werden soll.
                    </quote>
										<a href="http://wirtschaftslexikon.gabler.de/Definition/wirtschaftlichkeitsprinzip.html" target="_blank">[Quelle: Wirtschaftslexikon Gabler]</a>
									</div>
								</div>
							</div>
						</div>
						<!-- content -->
						<div class="row">
							<div class="col-md-6">
								<div class="well">
                  Das Prinzip basiert auf der Annahme, dass Haushalte und Konsumenten als
                  Wirtschaftssubjekte eine Nutzenmaximierung, beziehungsweise Gewinnmaximierung (so Unternehmen) anstreben. Auf dieser Annahme basiert auch das abstrakte Modell des Homo oeconomicus. <br><br>

                  <img src="http://www.wpgs.de/images/stories/Lehrtexte_Abbildungen/Einfuehrung_Wirtschaftspsychologie/homo_oeconomicus.png" alt="">   
                </div>
							</div>
              <div class="col-md-6">
              <h2>Minimalprinzip</h2>
                <div class="well">
                  Beim <strong>Minimalprinzip</strong> soll ein <i>vorgegebenes Ziel</i> mit minimalem Aufwand erreicht werden.

                  Beispiel: 

                  Sie fahren mit dem Auto von Hamburg nach München und wollen dabei
                  <strong>so wenig Benzin wie möglich</strong> zu verbrauchen.
                </div>
              </div>
              <div class="col-md-6">
              <h2>Maximalprinzip</h2>
                <div class="well">
                  Beim <strong>Maximalprinzip</strong> hingegen soll mit <i>gegebenen Ressourcen</i> ein möglichst hoher Output erreicht werden.

                  Beispiel: 

                  Sie haben einen vollen Tank und wollen damit <strong>so weit wie möglich</strong> fahren.
                </div>
              </div>
              <div class="col-md-6">
                <div class="well">
                  <img src="http://bildungsbibel.de/wp-content/uploads/2015/12/oekonomisches-prinzip.jpg" alt="">
                </div>
              </div>
						</div>
						<!-- back home -->
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '../startseite.html';">zur&uuml;ck zur Startseite</button>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
                </div>
            </div>
        </div>
    		<!-- footer -->
        <footer>
          &copy; Andreas Neeven, Daniel Lentz, Ferdi Kaya & Florian Petruschke
        </footer>

        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>